
{% extends 'base.html' %}

{% block content %}
<div>
  
  <article> <p> Jest to dodatkowa strona, dodana przeze mnie </p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in malesuada urna, in efficitur dui. Pellentesque aliquet, arcu a blandit accumsan, urna lacus porttitor lorem, aliquam consectetur ligula mi quis libero. Nullam feugiat, velit at egestas accumsan, arcu leo dignissim erat, posuere viverra nunc sapien at nisi. Nullam malesuada, lorem vel hendrerit ullamcorper, dui felis tempor magna, ut luctus turpis metus eget mauris. Ut eget mauris eget lacus consectetur cursus. Suspendisse augue ligula, porttitor et laoreet in, viverra in sapien. Donec et pellentesque risus. Suspendisse id purus sed metus pellentesque venenatis sit amet vel arcu. Maecenas efficitur in arcu vitae sollicitudin. Sed nec ex massa. Phasellus fermentum tortor et quam rhoncus, ac facilisis purus fringilla. Quisque ultrices nunc augue, at consectetur mauris scelerisque et. Vestibulum luctus magna at augue mattis viverra. </article>
{% endblock content %}
