html {
	margin: 0;
	padding: 0;
}
body{
  background-color: #21262b;
  font: verdana;
  line-height: 1.88889;
  margin:0;
  padding: 0;
  min-width: 500px;
  height:100%;
}
header {
	padding-top: 20px;
  background-repeat: no-repeat
	height: 300px;
}
 p {
	margin-top: 0;
  text-align: justify;
}
h1{
  display: block;
  width: 40%;
  height: 50px;
  float: left;
  background-color: #374048;
  font-family: verdana;
  text-align: center;
  margin-top: 40px;
	margin-bottom: 50px;
  text-shadow: 1px 1px 8px #7d8c9b;
  border-bottom: 2px solid #ffd700;
}
h2 {
  font-size: 110%;
  margin-top: 10px;
  font-family: verdana;
  text-align: center;
  text-shadow: 1px 1px 8px #7d8c9b;
	background-color: #2c333a;
	width: 50%;
	height: 50px;
  padding-right: 100px;
	float: right;
  border-bottom: 2px solid #ffd700;
}
p {
	margin-top: 0;
	text-align: justify;

}
article {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  margin-top: 10px;
  background-color: white;
  margin-bottom: 40px;
  padding-bottom: 10px;
  float:left;
  clear: left;
  height: 40%;
  width: 70%;
  border-right: 2px solid #ffd700;
}
.sidebar {
  width:25%;
  padding-top: 10px;
  background-color: white;
  margin-bottom: 40px;
  margin-top: 10px;
  float:right;
  border-left: 4px solid #ffd700;

}
h3{
  text-align: center;
  font: 20px verdana;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
  text-align: center;
  font: 20px verdana;
	line-height: 1.3em;
	background: transparent url(http://csszengarden.com/001/cr1.gif) no-repeat top center;
	display: block;
	padding-top: 5px;
	margin-bottom: 5px;
	list-style-type: none;
	}
  .sidebar li:hover{
    background-color: #2c333a;
    cursor: pointer;
  }
  .sidebar li a:link {
  	color: #988F5E;
  }
  .sidebar li a:visited {
  	color: #B3AE94;
  }
#container{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
#footer_inner{
  text-align: center;
  font: 20px verdana;
  float:bottom;
  clear:both;
  color: white;
}
